{% extends "base.html" %}
{% load custom_filters %}
{% load url from future %}

{% block title %}Problem #{{ problem.id }}{% endblock %}

{% block submenu_append %}
  <li class='active'>
    <a href=''>Problem #{{ problem.id }}</a>
  </li>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}flot/js/jquery.flot.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}flot/js/jquery.flot.pie.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}faf/js/problem.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}faf/js/metrics.js"></script>
{% endblock %}

{% block content %}
<div class='problem'>
  <div class='row'>
    <div class='span6'>
      <h3>Info</h3>
      <dl class='dl-horizontal'>
        <dt>Function</dt>
        <dd>
          {{ problem.crash_function|truncatechars:50 }}
        </dd>
        <dt>First occurrence</dt>
        <dd>{{ problem.first_occurrence|date:"Y-m-d" }}</dd>
        <dt>Last occurrence</dt>
        <dd>{{ problem.last_occurrence|date:"Y-m-d" }}</dd>
        {% if problem.probable_fixes %}
        <dt class="cursor-help" title="List of versions of affected packages where this problem stopped occuring in the given release.">Probable fixes</a></dt>
        <dd>{{ problem.probable_fixes|join:"<br/>" }}</dd>
        {% endif %}
        <dt>Components</dt>
        <dd>
          {% for name in problem.unique_component_names %}
            {{ name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </dd>
        <dt>State</dt>
        <dd>
          <span class="label label-{{ problem.status|problem_label }}">
            {{ problem.status }}
          </span>
        </dd>
        <dt class="debug">Quality</dt>
        <dd class="debug">{{ problem.quality }}</dd>
        {% if problem.bugs %}
          <dt>External links</dt>
          <dd>
            {% with problem.bugs as bugs %}
              {% include "external_links.html" %}
            {% endwith %}
          </dd>
        {% endif %}
      </dl>

      {# graphs #}

      {% if osreleases|length > 1 or arches|length > 1 %}
        <h3>Graphs</h3>
        <div class='row'>
          <div id="release_graph" class="span3 graph"></div>
          <div id="arch_graph" class="span3 graph"></div>
        </div>
        <script>
          var release_data = [];
          {% for release, cnt in osreleases %}
            release_data.push( {
              label: "{{ release.opsys.name }} {{ release.version }}",
              data: {{ cnt }}, } );
          {% endfor %}

          var arch_data = [];
          {% for arch, cnt in arches %}
            arch_data.push( {
              label: "{{ arch.name }}",
              data: {{ cnt }}, } );
          {% endfor %}

          var pie_chart_options =  {
              series: {
                pie: {
                  show: true,
                },
              },
            }

          {% if osreleases|length > 1 %}
            $.plot($('#release_graph'), release_data, pie_chart_options);
          {% endif %}
          {% if arches|length > 1 %}
            $.plot($('#arch_graph'), arch_data, pie_chart_options);
          {% endif %}
        </script>
      {% endif %}
    </div>

    {# metrics #}

    <div class='span6 statistics'>
      <h3>Statistics</h3>
      {% with 'Operating system' as metric_name %}
        {% with 3 as row_limit %}
          {% with osreleases as data %}
            {% include 'metric_table.html' %}
          {% endwith %}
        {% endwith %}
      {% endwith %}

      {% with 'Architecture' as metric_name %}
        {% with 3 as row_limit %}
          {% with arches as data %}
            {% include 'metric_table.html' %}
          {% endwith %}
        {% endwith %}
      {% endwith %}

      {% with 'Executable' as metric_name %}
        {% with 3 as row_limit %}
          {% with exes as data %}
            {% include 'metric_table.html' %}
          {% endwith %}
        {% endwith %}
      {% endwith %}

      {% with 'Package NEVR' as metric_name %}
        {% with 3 as row_limit %}
          {% with packages_nevr as data %}
            {% include 'metric_table.html' %}
          {% endwith %}
        {% endwith %}
      {% endwith %}

      {% with 'Package name' as metric_name %}
        {% with 3 as row_limit %}
          {% with packages_name as data %}
            {% include 'metric_table.html' %}
          {% endwith %}
        {% endwith %}
      {% endwith %}
      {% if packages_name %}
        <p class="muted">Packages names with count less than the total count of reports are most probably not the cause of the problem.</p>
      {% endif %}
    </div>
  </div>

  <br />

  <h3>Report backtrace</h3>
  <ul class="nav nav-tabs">
    {% for report in problem.reports %}
      <li
        {% if forloop.first %}
          class="active"
        {% endif %}
      >
        <a href="#{{ report.id }}" data-toggle="tab">{{ report.id }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for report in problem.reports %}
      <div class="tab-pane
        {% if forloop.first %}
          active
        {% endif %}
      " id="{{ report.id }}">


        {% with report.backtraces.0.frames as backtrace %}
          {% with report.type as type %}
            {% with report.oops as oops %}
              {% include 'reports/backtrace.html' %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
      </div>
    {% endfor %}
    <div class="pull-right form-inline">
      {% if problem.reports|length > 1 %}
        <a class='btn' id='btn-diff'
        >Backtrace diff</a>
        <div id='diff-choice'>
          <select id='select-a' name='select-a'>
            {% for report in problem.reports %}
              <option value='{{ report.id }}'>{{ report.id }}</option>
            {% endfor %}
          </select>
          <select id='select-b' name='select-b'>
            {% for report in problem.reports %}
              <option value='{{ report.id }}'>{{ report.id }}</option>
            {% endfor %}
          </select>
          <a class='btn' id='btn-diff-reports' href='{% url 'webfaf.reports.views.diff' problem.reports.0.id problem.reports.0.id %}'
          >Diff</a>
        </div>
      {% endif %}
      <a class='btn' id='btn-view-report' href='{% url 'webfaf.reports.views.item' problem.reports.0.id %}'
      >View complete report</a>
    </div>
  </div>
  {# comments #}
    {% if problem.comments %}
      <h3>Comments <small>Attached by users who sent the report.</small></h3>
      <ul id="comments">
      {% with 15 as row_limit %}
        {% for comment in problem.comments %}
          <li
          {% if forloop.counter > row_limit and comments|length > row_limit|add:1 %} {# avoid +1 more #}
            class='hide'
          {% endif %}
          >
            <p><!-- comment id {{comment.id}} -->{{comment.text|linebreaksbr}}</p>
            <p><small>Comment saved {{comment.saved|date:"Y-m-d"}}</small></p>
          </li>
          {% if problem.comments|length > row_limit|add:1 and forloop.counter = row_limit %}
            <script type="text/javascript">
              $(document).ready(function() {
                $("#comments .btn-more").click(function() {
                  $(this).parents("ul").find('li.hide').show();
                  $(this).parents("p").remove();
                });
              });
            </script>
            <p>
              <button class="btn btn-mini btn-more" type="button">
                + {{ problem.comments|length|substract:row_limit }} more
              </button>
            </p>
          {% endif %}
        {% endfor %}
      {% endwith %}
      </ul>
    {% endif %}
</div>
{% endblock %}
