{% from '_helpers.html' import external_bugs %}
{%- for problem in problems %}
  <tr>
    <td>
      <a href="{{ url_for('problems.item', problem_id=problem.id) }}">
        {{ problem.id }}
      </a>
    </td>
    <td>
      {%- for name in problem.unique_component_names %}
        {{ name }}{% if not loop.last %}, {% endif %}
      {%- endfor %}
      {%- if problem.tainted %}
        <span class="label label-warning">Tainted</span>
      {%- endif %}
    </td>
    <td>
      {{ problem.crash_function|truncate(50, True) }}
    </td>
    <td>
      <span class="label label-{{ problem.status|problem_label }}">
        {{ problem.status }}
      </span>
    </td>
    <td>
      {{ external_bugs(problem.bugs) }}
    </td>
    <td>
      {%- if problem.probable_fixes %}
        {{ problem.probable_fixes|join(", ") }}
      {%- endif %}
    </td>
    <td>{{ problem.count }}</td>
  </tr>
{%- endfor %}
