{% load custom_filters %}
<script id="source">
    {% ifequal duration 'd' %}
    var minTickSizeLabel = "day";
    {% endifequal %}
    {% ifequal duration 'w' %}
    var minTickSizeLabel = "week";
    {% endifequal %}
    {% ifequal duration 'm' %}
    var minTickSizeLabel = "month";
    {% endifequal %}
    var data = []
    {% for data in reports %}
    data.push( {data: [ {% for report in data.1 %}
            [{{report.0|epoch}}*1000,{{report.1|floatformat:"0"}}],
        {% endfor %} ], label:"{{data.0}}" } );
    {% endfor %}
    ;

    $(plotRepotGraph(data, minTickSizeLabel))
</script>
