.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.report .graph,
.problem .graph {
  height: 180px;
}
.report .history_graph {
  width: 95%;
}

#placeholder {
  width: 100%;
  height: 450px;
}

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 10px;
  background-color: #fee;
  opacity: 0.9;
}

.form-inline label {
  display: none;
}

.showlabel label {
  display: inline-block;
}

form .separated > div {
  padding: 1em 0 0;
}

table.metric th:nth-child(2) { width: 150px; }
