*.o
*.pyc
*.pyo
*~
.deps
Makefile
Makefile.in
/m4
/missing
/py-compile
/configure
/ltmain.sh
/install-sh
/depcomp


/*.1
/*.html
/*.src.rpm
/*.tar.xz
/*.tar.gz
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/config.sub
/config.guess
/faf-*/
/faf.conf
/faf.html/
/faf.info
/faf.spec
/i686
/libtool
/noarch
/src/webfaf/settings_local.py
/stamp-vti
/texinfo.tex
/version.texi
/x86_64
/tests/**/*.trs
/test-driver
/config/faf.conf
/config/faf-web.conf
/config/faf-web2.conf
/tests/**/*.log
