*~
*.pyc
*.pyo
*.1
*.o
faf*.src.rpm
*.tar.xz
.deps
i686
Makefile
aclocal.m4
autom4te.cache
config
config.log
config.status
faf-chroot-helper
faf-dwarf-files
faf.html
faf.info
faf.spec
libtool
pyfaf/config.py
pyfaf/hub/faf-hub.conf
stamp-vti
texinfo.tex
version.texi
