*.o
*.pyc
*.pyo
*~
.deps
Makefile

/*.1
/*.html
/*.src.rpm
/*.tar.xz
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.status
/faf-*/
/faf-chroot-helper
/faf-dwarf-files
/faf.conf
/faf.html/
/faf.info
/faf.spec
/i686
/libtool
/noarch
/pyfaf/config.py
/pyfaf/hub/faf-hub.conf
/stamp-vti
/texinfo.tex
/version.texi
/x86_64
