alembic ~= 1.3.1
argcomplete ~= 1.10.0
cachelib ~= 0.1.1
celery ~= 4.3.0
fedora-messaging ~= 2.0.1
flask ~= 1.1.1
Flask-OpenID ~= 1.2.5
Flask-SQLAlchemy ~= 2.4.0
koji ~= 1.20.1
markdown2 ~= 2.3.8
munch ~= 2.3.2
pycurl ~= 7.43.0.5
python-bugzilla ~= 2.3.0
python-openid-teams ~= 1.1
ratelimitingfilter ~= 1.1
SQLAlchemy ~= 1.3.13
Werkzeug ~= 1.0.1
WTForms ~= 2.2.1
zeep ~= 3.4.0
