article {
  margin-bottom: 2em;
}

article h3 {
  margin-bottom: 0.5em;
}

header {
  margin-top: 20px;
}

footer {
  text-align: center;
  font-size: smaller;
}

nav {
  margin-top: 10px;
}

td.success {
  background-color: #9c9 !important;
}

td.failure {
  background-color: #c99 !important;
}

#login {
  text-align: right;
  margin-top: 10px;
}
#login form {
  margin-bottom: 4px;
}

#login span {
  color: gray;
  font-size: smaller;
}

.on_right {
  float: right !important;
}

#placeholder {
  width: 100%;
  height: 400px;
}

.axislabel {
  color: #545454;
  font-size: smaller;
}

#xlabel {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

#ylabel {
  position: absolute;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 10px;
  background-color: #fee;
  opacity: 0.9;
}

#new_report p {
  float: left; padding: 5px;
}
#new_report form input {
  margin-left: 40px;
}
#new_report .errorlist {
  margin-left: 200px;
  color: red;
}

.centered {
  text-align: center;
}

table.packages th:nth-child(1) { width: auto; }
table.packages th:nth-child(2) { width: 89px; }
table.packages th:nth-child(3) { width: 89px; }
table.packages th:nth-child(4) { width: 38px; }
table.packages td:nth-child(4) { text-align: center; }

table.metric th:nth-child(2) { width: 250px; }

table.metric th:nth-child(2) { width: 250px; }

span.version {
  font-size: 90%;
  white-space: nowrap;
}

.report .graph,
.problem .graph {
  height: 180px;
}
.report .history_graph {
  width: 95%;
}

/* select2 with bootstrap compatibility fixes  */
.select2-search-choice-close {
  background-image: url('/faf/static/select2/img/select2.png') !important;
}

.select2-container {
  top: 11px;
  min-height: 29px;
  text-align: left;
  width: 220px !important;
}

.select2-container ul {
  border: 1px solid #CCC !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select2-container input {
  padding-top: 5px !important;
}

.select2-choices {
  background-image: none !important;
  min-height: 27px !important;
  box-shadow: none !important;
}

.select2-choices input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin: 1px 0px 0px 1px !important;
}

.select2-default {
  padding-top: 6px !important;
  color: #555 !important;
}

.bold {
  font-weight: bold;
}

select, input[type="file"] {
  height: 29px !important;
  line-height: 29px !important;
}

/* report diff */
#diff-choice {
  display: none;
}

#diff-choice select {
  width: 100px;
}

/* statistics */
#date_stats table div.progress {
  margin-bottom: 0px;
}

#date_stats table.comps th:nth-child(1) { width: auto; }
#date_stats table.comps th:nth-child(2) { width: 50px; }
#date_stats table.comps th:nth-child(3) { width: 130px; }

.debug {
  display: none;
}

.cursor-help {
  cursor: help;
}
