{% macro metric_table(metric_name, data, row_limit=3) -%}
{% if data %}
  <table class="table table-striped table-bordered metric table-condensed">
    <tr>
      <th>{{ metric_name }}</th>
      <th>Count</th>
    </tr>
    {% for row, cnt in data %}
      <tr class="package {%- if loop.index > row_limit and data|length > row_limit+1 %} hide {%- endif %}">
        <td>{{ row }}</td>
        <td>{{ cnt }}</td>
      </tr>
      {% if data|length > row_limit+1 and loop.index == row_limit %}
        <tr>
          <td colspan='2'>
            <button class="btn btn-default btn-xs btn-more" type="button">
              + {{ data|length-row_limit }} more
            </button>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endif %}
{%- endmacro %}

{% macro unique_metric_table(metric_name, data, row_limit=3) -%}
{% if data %}
  <table class="table table-striped table-bordered metric table-condensed">
    <tr>
      <th>{{ metric_name }}</th>
      <th class="text-nowrap">Unique / Total count</th>
    </tr>
    {% for name, cnt in data.iteritems() %}

      <tr class="package {%- if loop.index > row_limit and data|length > row_limit+1 %} hide {%- endif %}">
        <td>{{ name }}</td>
        <td>{{ cnt.unique }} / {{ cnt.count }}</td>
      </tr>
      {% if data|length > row_limit+1 and loop.index == row_limit %}
        <tr>
          <td colspan='2'>
            <button class="btn btn-default btn-xs btn-more" type="button">
              + {{ data|length-row_limit }} more
            </button>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endif %}
{%- endmacro %}

{% macro package_counts_table(data, row_limit=3) -%}
{% if data %}
  <table class="table table-bordered counts-table table-condensed" data-sort-col="2" data-sort-order="desc" data-show-versions="0">
    <thead>
      <tr class="stripe">
        <th colspan="2" class="text-right"><button class="btn btn-default btn-xs btn-show-versions">Show versions</button></th>
      </tr>
      <tr class="stripe">
        <th><a href="#" class="btn-sort-packages">Related packages</a> <i class="sort-indicator sort-1-desc hide fa fa-sort-alpha-desc"></i><i class="sort-indicator sort-1-asc hide fa fa-sort-alpha-asc"></i></th>
        <th><a href="#" class="btn-sort-count">Count</a> <i class="sort-indicator sort-2-desc fa fa-sort-numeric-desc"></i><i class="sort-indicator sort-2-asc hide fa fa-sort-numeric-asc"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for name, cnt, versions in data %}
        <tr class="package {%- if loop.index > row_limit and data|length > row_limit+1 %} hide {%- endif %} {%- if loop.index % 2 == 0 %} stripe {%- endif %}">
          <td>{{ name }}</td>
          <td>{{ cnt }}</td>
        </tr>
        {% for version, cnt in versions %}
          <tr class="version hide">
            <td>&nbsp;&nbsp;{{version}}</td>
            <td>{{cnt}}</td>
          </tr>
        {% endfor %}
        {% if data|length > row_limit+1 and loop.index == row_limit %}
          <tr>
            <td colspan='2'>
              <button class="btn btn-default btn-xs btn-more" type="button">
                + {{ data|length-row_limit }} more
              </button>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{%- endmacro %}

{% macro release_graph(history, releases, unique) -%}
    <div id="release_graph{% if unique %}_unique{% endif %}" class="col-md-6 graph"></div>
    <script>
        var rows = [
          {%- for event in history %}
              [({{ event.count }} {% if unique %} - {{ event.unique|default('0',true) }}{% endif %}),
                {{ event.unique }},
                {{ event.opsysrelease_id}}
              ],
            {%- endfor -%}
          ];

        var by_osr_id = {};
        var unique = {};
        var row;
        for(var i = 0; i < rows.length; i++) {
            row = rows[i];
            if(!(row[2] in by_osr_id)) {
                by_osr_id[row[2]] = Number(row[0]);
            }else{
                by_osr_id[row[2]] += Number(row[0]);
            }

            {% if unique %}
                if(!(row[2] in unique )) {
                    unique[row[2]] = Number(row[1]);
                }else{
                    unique[row[2]] += Number(row[1]);
                }
            {% endif %}
        }

        var data = [];
        var rightColors = getColors('{{ releases|length }}');
        var colorCnt = 0;

        {% for release, count in releases %}
            {% if unique %}
                var alternativeColor = LightenDarkenColor(rgbToHex(rightColors[colorCnt].r,rightColors[colorCnt].g,rightColors[colorCnt].b), -40);
                data.push({
                    label: "{{release}} - Unique",
                    data: unique[{{release.opsysrelease_id}}],
                    color: alternativeColor,
                })
            {% endif %}

            data.push({
                label: "{{release}}" {% if unique %} + " - Recurrence" {% endif %},
                data: by_osr_id[{{release.opsysrelease_id}}],
                color: rightColors[colorCnt],
            })
            colorCnt += 1;
        {% endfor %}

        var pie_chart_options =  {
            series: {
                pie: {
                    show: true,
                },
            },
            {% if unique %}
                //legend is in graph, this move legend out
                legend: {
                    margin: [-10,0]
                }
            {% endif %}
        };

        $.plot($('#release_graph{% if unique %}_unique{% endif %}'), data, pie_chart_options);
    </script>
{%- endmacro %}

{% macro history_graph(history, datefmt, releases, unique) -%}
<div id="graph_{{ datefmt }}{% if unique %}_unique{% endif %}" class="graph history_graph"></div>
<script>
  var rows = [
  {%- for event in history %}
      [
        {%- if datefmt == 'daily' -%}
          {{ event.day|timestamp }} * 1000
        {%- endif -%}
        {%- if datefmt == 'weekly' -%}
          {{ event.week|timestamp }} * 1000
        {%- endif -%}
        {%- if datefmt == 'monthly' -%}
          {{ event.month|timestamp }} * 1000
        {%- endif -%}
        {%- if datefmt == 'date' -%}
          {{ event.date|timestamp }} * 1000
        {%- endif -%}

      , ({{ event.count }} {% if unique %} - {{ event.unique|default('0',true) }}{% endif %}), {{ event.unique|default('0',true) }}, {{ event.opsysrelease_id}}],
    {%- endfor -%}
  ];

    var by_osr_id = {};
    var row;
    for(var i = 0; i < rows.length; i++) {
        row = rows[i];
        if(!(row[3] in by_osr_id)) {
            by_osr_id[row[3]] = [];
        }
        by_osr_id[row[3]].push([row[0], row[1]]);
    }

    {% if unique %}
        var unique = {};
        for(var i = 0; i < rows.length; i++) {
            row = rows[i];
            if(!(row[3] in unique )) {
              unique [row[3]] = [];
            }
            if(row[2]){
                unique [row[3]].push([row[0], row[2]]);
            }else{
                unique [row[3]].push([row[0], 0]);
            }
        }
    {% endif %}


    var data = [];
    var rightColors = getColors('{{ releases|length }}');
    var colorCnt = 0;

    {% for release, count in releases %}
        if (by_osr_id[{{release.opsysrelease_id}}]){
            {% if unique %}
                var alternativeColor = LightenDarkenColor(rgbToHex(rightColors[colorCnt].r,rightColors[colorCnt].g,rightColors[colorCnt].b), -40);
                data.push({
                    label: "{{release}} - Unique",
                    data: unique[{{release.opsysrelease_id}}],
                    color: alternativeColor,
                });
            {% endif %}

            data.push({
                label: "{{release}}" {% if unique %} + " - Recurrence" {% endif %},
                data: by_osr_id[{{release.opsysrelease_id}}],
                color: rightColors[colorCnt],
            });
            colorCnt += 1;
        }
    {% endfor %}

  var day_width = 24 * 60 * 60 * 1000;
  var chart_options = {
    {% if datefmt == "daily" %}
        xaxis: {
          mode: "time",
          tickSize: [1, 'day'],
          autoscaleMargin: 0.02,
          timeformat: "%d %b %y",
          rotateTicks: 135,
        },
    {% elif datefmt == "weekly" %}
        xaxis: {
          mode: "time",
          tickSize: [7, 'day'],
          autoscaleMargin: 0.02,
          timeformat: "%d %b %y",
          rotateTicks: 135,
        },
    {% else %}
        xaxis: {
          mode: "time",
          tickSize: [1, 'month'],
          autoscaleMargin: 0.02,
          timeformat: "%b %y",
          rotateTicks: 135,
        },
    {% endif %}
    yaxis: {
      tickDecimals: 0,
    },
    series: {
      bars: { show: true, barWidth: day_width, lineWidth: 1},
      stack: true,
    },
    grid: {
      hoverable: true,
      borderColor: '#aaa',
      borderWidth: 1,
    },
    legend: {
      // legend is the same as in charts above
      show: true,
      container: $('#{{ datefmt }}{% if unique %}_unique{% endif %}_legend'),
    }
  };

  {% if datefmt == 'weekly' %}
    chart_options.series.bars.barWidth *= 7;
  {% endif %}
  {% if datefmt == 'monthly' %}
    chart_options.series.bars.barWidth *= 30;
  {% endif %}

  $.plot($('#graph_{{ datefmt }}{% if unique %}_unique{% endif %}'), data, chart_options);
</script>
{%- endmacro %}

{% macro backtrace_table_columns(frame, type) -%}
<td>
{% if frame.nice_order %}
  {{ frame.nice_order }}
{% else %}
  {{ frame.order }}
{% endif %}
</td>
<td>
  {% if not frame.reliable %}
    <abbr title="Unreliable frame">?</abbr>
  {% endif %}
  {% if frame.symbolsource.symbol.nice_name %}
    {{ frame.symbolsource.symbol.nice_name }}
  {% else %}
    {{ frame.symbolsource.symbol.name }}
  {% endif %}
  {% if frame.inlined %}
    (inlined)
  {% endif %}
</td>
{% if type != 'PYTHON' %}
  <td>{{ frame.symbolsource.path }}</td>
{% endif %}
<td>
  {%- if frame.symbolsource.source_path %}
    <abbr title="{{ frame.symbolsource.offset|memory_address }} Build id: {{frame.symbolsource.build_id}}">{{ frame.symbolsource.source_path }}</abbr>
  {%- elif frame.symbolsource.offset %}
    {{ frame.symbolsource.offset|memory_address }}
    {%- if frame.symbolsource.build_id %}
      <br/>Build id: {{frame.symbolsource.build_id}}
    {%- endif %}
  {%- endif %}
</td>
<td>
  {%- if frame.symbolsource.line_number %}
    {%- if frame.symbolsource.func_offset %}
      <abbr title="{{frame.symbolsource.func_offset|memory_address}}">{{ frame.symbolsource.line_number}}</abbr>
    {%- else %}
      {{ frame.symbolsource.line_number}}
    {%- endif %}
  {%- else %}
    {{ frame.symbolsource.func_offset|memory_address or '-' }}</td>
  {%- endif %}
{%- endmacro %}

{% macro show_backtrace(backtrace, type, oops) -%}
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Frame #</th>
    <th>Function</th>
    {% if type != 'PYTHON' %}
      <th>Binary</th>
    {% endif %}
    <th>Source or offset</th>
    <th>Line</th>
  </tr>
  {% for frame in backtrace %}
    <tr>
      {{ backtrace_table_columns(frame, type) }}
    </tr>
  {% endfor %}
</table>

{% if type == 'kerneloops' and oops %}
  <pre>{{ oops }}</pre>
{% endif %}
{%- endmacro %}


{% macro external_bugs(bugs) -%}
{% for bug in bugs %}
  <a
    title="{{ bug.status }}{% if bug.status == "CLOSED" %} {{ bug.resolution }}{% endif %}: {{ bug.summary }}"
    href="{{ bug.url }}">{% if bug.status == "CLOSED" %}<del>{{ bug }}</del>{% else %}{{ bug }}{% endif %}</a>
{% endfor %}
{%- endmacro %}

{% macro external_urls(urls) -%}
{% for url_obj in urls %}
  <li><a
    href="{{ url_obj.url }}">{{ url_obj.url }}
    </a>
  </li>
{% endfor %}
{%- endmacro %}

{#
PAGINATOR
#}


{% macro paginator(pagination, query_count) -%}
{% if pagination.url_prev_page() %}
    <a class="btn btn-default" href="{{pagination.url_prev_page()}}">Previous page</a>
{% endif %}
{% if pagination.url_next_page(query_count) %}
    <a class="btn btn-default" href="{{pagination.url_next_page(query_count)}}">Next page</a>
{% endif %}
{%- endmacro %}


{#
FORM RENDERING
#}

{% macro render_field_default(field) -%}

    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' or field.type !='CSRFTokenField') %}
            {{ field.label }}
        {% endif %}

        <div class="input-group">
        {% if (field.type == 'DaterangeField') %}
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </div>
        {% endif %}

        {{ field(class_='form-control', **kwargs) }}

        </div>
        {% if field.description %}
          <p class="help-block">
            {{field.description}}
          </p>
        {% endif %}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
    {% if field.description %}
      <p class="help-block">
        {{field.description}}
      </p>
    {% endif %}
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
    {% if field.description %}
      <p class="help-block">
        {{field.description}}
      </p>
    {% endif %}
{%- endmacro %}

{% macro render_field(f) -%}
    {% if f.type == 'BooleanField' %}
        {{ render_checkbox_field(f, **kwargs) }}
    {% elif f.type == 'RadioField' %}
        {{ render_radio_field(f, **kwargs) }}
    {% else %}
        {{ render_field_default(f, **kwargs) }}
    {% endif %}
{%- endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}

     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default') -%}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}
