{% extends "base.html" %}

{% block title %}{{ build.nvr }} LLVM Build{% endblock %}

{% block content %}
<h2>{{ build.nvr }} LLVM Build</h2>
<br />
<dl class="dl-horizontal">
  <dt>Started:</dt>
  <dd>{{ build.started|date:"Y-m-d H:i:s" }}</dd>
  <dt>Duration:</dt>
  <dd>{{ build.dur }}</dd>
  <dt>Result:</dt>
  {% if build.success %}
  <dd>Succeeded</dd>
  {% else %}
  <dd>Failed</dd>
  {% endif %}
</dl>

{% if build.bcfiles_count > 0 %}
  <h3>Bitcode files</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>#</th>
      <th>Path</th>
      <th>Size</th>
    </tr>
    {% for bcfile in bcfiles %}
      <tr>
        <td><a href="{% url pyfaf.hub.status.views.llvm_bcfile bcfile.id %}">{{ bcfile.id }}</a></td>
        <td>{{ bcfile.path }}</td>
        <td>{{ bcfile.size }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
<span class="bold">Installed packages</span>
<pre>{{ packages }}</pre>
<span class="bold">stdout.log</span> (<a href="{% url pyfaf.hub.status.views.llvm_lob build.id "stdout" %}">raw</a>)
<pre>{{ stdout }}</pre>
<span class="bold">stderr.log</span> (<a href="{% url pyfaf.hub.status.views.llvm_lob build.id "stderr" %}">raw</a>)
<pre>{{ stderr }}</pre>
{% endblock %}
