{% extends "base.html" %}
{% load url from future %}

{% block title %}LLVM Builds{% endblock %}

{% block content %}
<h2>LLVM Builds</h2>
<br />
<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>Success</th>
    <th>NVR</th>
    <th>Started</th>
    <th>Duration</th>
    <th>.bc files</th>
  </tr>
  {% for build in builds.object_list %}
    <tr>
      <td><a href="{% url 'webfaf.status.views.llvm_details' build.id %}">{{ build.id }}</a></td>
      {% if build.success %}
      <td class="success">Succeeded</td>
      {% else %}
      <td class="failure">Failed</td>
      {% endif %}
      <td>{{ build.nvr }}</td>
      <td>{{ build.started|date:"Y-m-d H:i:s" }}</td>
      <td>{{ build.dur }}</td>
      <td>{{ build.bcfiles_count }}</td>
    </tr>
  {% endfor %}
</table>

{% with builds as paginated %}
  {% include "paginator.html" %}
{% endwith %}
{% endblock %}
