{% extends "base.html" %}

{% block title %}Sign in with your OpenID{% endblock %}

{% block content %}
<form name='fopenid' action='{{ action }}' method='post' class='well form-inline'>
  {% csrf_token %}
  <fieldset>
    <label for='id_openid_identifier'>OpenID:</label><br />
    {{ form.openid_identifier }}
    {{ form.openid_identifier.errors }}
    <button type='submit' class='btn'>Sign in</button>
    {% if next %}
      <input type='hidden' name='next' value='{{ next }}' />
    {% endif %}
  </fieldset>
</form>
{% endblock %}
