{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Problem #{{ problem.id }}{% endblock %}

{% block submenu_append %}
  <li class='active'>
    <a href=''>Problem #{{ problem.id }}</a>
  </li>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
  <script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="/js/flot/jquery.flot.pie.js"></script>
{% endblock %}

{% block content %}
<div class='problem'>
  <div class='row'>
    <div class='span6'>
      <h3>Info</h3>
      <dl class='dl-horizontal'>
        <dt>Function</dt>
        <dd>
          {{ problem.crash_function }}
        </dd>
        <dt>First occurence</dt>
        <dd>{{ problem.first_occurence|date:"Y-m-d" }}</dd>
        <dt>Last occurence</dt>
        <dd>{{ problem.last_occurence|date:"Y-m-d" }}</dd>
        <dt>Components</dt>
        <dd>
          {% for name in problem.unique_component_names %}
            {{ name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </dd>
        <dt>State</dt>
        <dd>
          <span class="label label-{{ problem.status|problem_label }}">
            {{ problem.status }}
          </span>
        </dd>
        {% if problem.bugs %}
          <dt>External links</dt>
          <dd>
            {% with problem.bugs as bugs %}
              {% include "external_links.html" %}
            {% endwith %}
          </dd>
        {% endif %}
      </dl>
      {% if osreleases|length > 1 or arches|length > 1 %}
        <h3>Graphs</h3>
        <div class='row'>
          <div id="release_graph" class="span3 graph"></div>
          <div id="arch_graph" class="span3 graph"></div>
        </div>
        <script>
          var release_data = [];
          {% for release, cnt in osreleases %}
            release_data.push( {
              label: "{{ release.opsys.name }} {{ release.version }}",
              data: {{ cnt }}, } );
          {% endfor %}

          var arch_data = [];
          {% for arch, cnt in arches %}
            arch_data.push( {
              label: "{{ arch.name }}",
              data: {{ cnt }}, } );
          {% endfor %}

          var pie_chart_options =  {
              series: {
                pie: {
                  show: true,
                },
              },
            }

          {% if osreleases|length > 1 %}
            $.plot($('#release_graph'), release_data, pie_chart_options);
          {% endif %}
          {% if arches|length > 1 %}
            $.plot($('#arch_graph'), arch_data, pie_chart_options);
          {% endif %}
        </script>
      {% endif %}
    </div>
    <div class='span6 statistics'>
      <h3>Statistics</h3>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Operating system</th>
          <th>Count</th>
        </tr>
        {% for release, cnt in osreleases %}
        <tr>
          <td>{{ release.opsys.name }} {{ release.version }}</td>
          <td>{{ cnt }}</td>
        </tr>
        {% endfor %}
      </table>

      <table class="table table-striped table-bordered">
        <tr>
          <th>Architecture</th>
          <th>Count</th>
        </tr>
        {% for arch, cnt in arches %}
        <tr>
          <td>{{ arch.name }}</td>
          <td>{{ cnt }}</td>
        </tr>
        {% endfor %}
      </table>

      <table class="table table-striped table-bordered">
        <tr>
          <th>Executable</th>
          <th>Count</th>
        </tr>
        {% for exe, cnt in exes %}
        <tr>
          <td>{{ exe }}</td>
          <td>{{ cnt }}</td>
        </tr>
        {% endfor %}
      </table>

      <table class="table table-striped table-bordered">
        <tr>
          <th>Package</th>
          <th>Count</th>
        </tr>
        {% for package, cnt in packages.items %}
        <tr>
          <td>{{ package }}</td>
          <td>{{ cnt }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <br />

  <h3>Report backtrace</h3>
  <ul class="nav nav-tabs">
    {% for report in problem.reports %}
      <li
        {% if forloop.first %}
          class="active"
        {% endif %}
      >
        <a href="#{{ report.id }}" data-toggle="tab">{{ report.id }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for report in problem.reports %}
      <div class="tab-pane
        {% if forloop.first %}
          active
        {% endif %}
      " id="{{ report.id }}">


        {% with report.backtraces.0.frames as backtrace %}
          {% with report.type as type %}
            {% with report.oops as oops %}
              {% include 'reports/backtrace.html' %}
            {% endwith %}
          {% endwith %}
        {% endwith %}

        <div class="btn-group pull-right">
          <a class='btn' href={% url pyfaf.hub.reports.views.item report.id %}
          >View complete report</a>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
