{% extends "base.html" %}

{% block title %}Problem #{{ problem.id }}{% endblock %}

{% block submenu_prepend %}
  <li class='active'>
    <a href=''>Problem #{{ problem.id }}</a>
  </li>
{% endblock %}

{% block content %}
<h1>Problem #{{ problem.id }}</h1>
<div>
  <table>
    <tr>
      <th>Operating system</th>
      <th>Count</th>
    </tr>
    {% for release, cnt in osreleases %}
    <tr>
      <td>{{ release.opsys.name }} {{ release.version }}</td>
      <td>{{ cnt }}</td>
    </tr>
    {% endfor %}
  </table>

  <table>
    <tr>
      <th>Architecture</th>
      <th>Count</th>
    </tr>
    {% for arch, cnt in arches %}
    <tr>
      <td>{{ arch.name }}</td>
      <td>{{ cnt }}</td>
    </tr>
    {% endfor %}
  </table>

  <table>
    <tr>
      <th>Executable</th>
      <th>Count</th>
    </tr>
    {% for exe, cnt in exes %}
    <tr>
      <td>{{ exe }}</td>
      <td>{{ cnt }}</td>
    </tr>
    {% endfor %}
  </table>

  <table>
    <tr>
      <th>Package</th>
      <th>Count</th>
    </tr>
    {% for package, cnt in packages %}
    <tr>
      <td>{{ package }}</td>
      <td>{{ cnt }}</td>
    </tr>
    {% endfor %}
  </table>

  <table>
    <tr><th>Reports:</th></tr>
    {% for report in problem.reports %}
    <tr><td><a href={% url pyfaf.hub.reports.views.item report.id %}>{{ report.id }}</a></td></tr>
    {% endfor %}
  </table>

</div>
{% endblock %}
