{% extends "base.html" %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}flot/js/jquery.flot.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}flot/js/jquery.flot.symbol.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}flot/js/jquery.flot.resize.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}faf/js/jquery.flot.simplelabel.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}faf/js/report_graph.js"></script>
{% endblock %}

{% block title %}
Summary
{% endblock %}

{% block content %}
{% include "filter_form.html" %}

<br/>

<div id="placeholder"></div>
<div id="ylabel" class="axislabel">Number of incoming reports</div>
<div id="xlabel" class="axislabel">Date</div>

{% include "report_graph.html" %}

{% endblock %}
