<script id="source">
  {% if resolution == 'd' %}
  var minTickSizeLabel = "day";
  {% endif %}
  {% if resolution == 'w' %}
  var minTickSizeLabel = "week";
  {% endif %}
  {% if resolution == 'm' %}
  var minTickSizeLabel = "month";
  {% endif %}
  {% if resolution == '*' %}
  var minTickSizeLabel = "*";
  {% endif %}
  var data = [];
  {%- for data in reports %}
    {%- if 'All' not in data[0] %}
      data.push({ data: [ {%- for report in data[1] %}
          [{{ report[0]|timestamp * 1000 }}, {{ report[1] }}],
      {%- endfor %}], label:"{{ data[0] }}" });
    {%- endif %}
  {%- endfor %}
  $(() => plotReportGraph(data, minTickSizeLabel));
</script>
