{% extends "base.html" %}

{% block js %}
  <script type="text/javascript" src="/js/flot/jquery.js"></script>
  <script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="/js/flot/jquery.flot.resize.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}report_graph.js"></script>
{% endblock %}

{% block title %}
Summary
{% endblock %}

{% block content %}
{% include "filter_form.html" %}

<br/>

<!--<p>Problems in <b>{{ osrelease }}</b>, component <b>{{ component }}</b>:</p>-->

<div id="placeholder"></div>

{% include "report_graph.html" %}

{% endblock %}
