{% extends "base.html" %}

{% block js %}
  <script type="text/javascript" src="/js/flot/jquery.js"></script>
  <script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="/js/flot/jquery.flot.resize.js"></script>
{% endblock %}

{% block content %}
  <form class='well centered form-inline' action="{% url pyfaf.hub.summary.views.index %}" method="get">
    {% csrf_token %}
    {{ chartform.os_release }}
    {{ chartform.component }}
    {{ chartform.duration }}
    <button type="submit" class="btn">Submit</button>
  </form>

<br/>

<!--<p>Problems in <b>{{ osrelease }}</b>, component <b>{{ component }}</b>:</p>-->

<div id="placeholder"></div>

<script id="source">
$(function () {
    var data = [
    {% for report in reports %}
        [{{report.0|date:"U"}}*1000,{{report.1|floatformat:"0"}}],
    {% endfor %}
    ];

    var graph_options = {
       xaxis: {
           mode: "time",
           {% ifequal duration 'd' %}
             minTickSize: [1, "day"],
           {% endifequal %}
           {% ifequal duration 'w' %}
             minTickSize: [1, "day"],
           {% endifequal %}
           {% ifequal duration 'm' %}
             minTickSize: [1, "month"],
           {% endifequal %}
           autoscaleMargin: 0.02,
       },
       series: {
           points: {show: true},
           lines: {show: true},
       },
       yaxis: {
           tickDecimals: 0
       },
    };

    $.plot($("#placeholder"), [data], graph_options);

});
</script>

{% endblock %}
