{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<div class='row' id='date_stats'>
  <div class='span3'>
    <ul class='nav nav-tabs nav-stacked'>
      {% for release in releases %}
        <li>
        <a href="#{{ release.release|slugify }}">
          {{ release.release }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class='span9'>
    <h3>Summary</h3>
    <p>
      <dl class='dl-horizontal'>
        <dt>Since date:</dt>
        <dd> {{ since|date:"Y-m-d" }} </dd>
        <dt>To date:</dt>
        <dd> {{ to|date:"Y-m-d" }} </dd>
        <dt>Reports:</dt>
        <dd> {{ total|default_if_none:"No reports" }} </dd>
      </dl>
    </p>

    {% for release in releases %}
      <hr />
      <div class='row' id='{{ release.release|slugify }}'>
        <div class='span4'>
          <h3>{{ release.release }}</h3>
          <dl class='dl-horizontal'>
            <dt>Reports:</dt>
            <dd>{{ release.sum }} ({{ release.percentage }}%)</dd>
            <dt>Components:</dt>
            <dd>{{ release.comps|length }}</dd>
          </dl>
        </div>
        <div class='span5'>
          <table class='comps table table-striped table-bordered'>
            <tr>
              <th>Component</th>
              <th>Count</th>
              <th>Share</th>
            </tr>
            {% for comp, count, percentage in release.comps %}
              <tr>
                <td>{{ comp }}</td>
                <td>{{ count }}</td>
                <td>
              <div class="progress progress-info progress-striped">
                <div class="bar" style="width: {{ percentage }}%"></div>
                </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
