/* empty */
header {
  margin-top: 20px;
}
nav {
  margin-top: 10px;
}

#login {
  text-align: right;
  margin-top: 10px;
}
#login form {
  margin-bottom: 4px;
}

#login span {
  color: gray;
  font-size: smaller;
}

#admin_btn {
  float: right;
}

#placeholder {
  width: 100%;
  height: 400px;
}

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 10px;
  background-color: #fee;
  opacity: 0.9;
}

.centered {
  text-align: center;
}
