article {
  margin-bottom: 5em;
}

article h3 {
  margin-bottom: 0.5em;
}

header {
  margin-top: 20px;
}
nav {
  margin-top: 10px;
}

#login {
  text-align: right;
  margin-top: 10px;
}
#login form {
  margin-bottom: 4px;
}

#login span {
  color: gray;
  font-size: smaller;
}

.on_right {
  float: right !important;
}

#placeholder {
  width: 100%;
  height: 400px;
}

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 10px;
  background-color: #fee;
  opacity: 0.9;
}

#new_report p {
  float: left; padding: 5px;
}
#new_report form input {
  margin-left: 40px;
}
#new_report .errorlist {
  margin-left: 200px;
  color: red;
}

.centered {
  text-align: center;
}

.report .packages th:nth-child(1) { width: 20px; }
.report .packages th:nth-child(2) { width: auto; }
.report .packages th:nth-child(3) { width: 30%; }
.report .packages th:nth-child(4) { width: 30%; }
.report .packages th:nth-child(5) { width: 20px; }
.report .packages td:nth-child(5) { text-align: center; }

.report .statistics table th:nth-child(2) { width: 200px; }

.problem .statistics table th:nth-child(2) { width: 200px; }

.report .graph,
.problem .graph {
  height: 180px;
}
